body {
  font-family: times, serif;
  color: #000000;
}

.header-panel {
  background-color: #44b3e3;
}

.pages h1 {
  color: #44b3e3;
}
.pages h2 {
  color: #44b3e3;
}
.pages h3 {
  color: #44b3e3;
}

